# Maven build files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ IDEA project files
.idea/
*.iml
*.iws

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp

# Credentials or local config files
config.properties
.env

# Reports
/test-output/
extent-reports/
reports/
